extends ../../layouts/main.jade

block title
  title Header Rusocks | seller
  
block header
  include ../../components/header_rs/template

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
    h1 Seller
