// start /components/top_megamenu/

link( rel="stylesheet", href="/components/top_megamenu/style.css" )
script( src="/components/top_megamenu/script.js" )

section#headerOS.bj-page-header__sub.hidden-sm.hidden-xs
  .container-fluid
    .bj-page-header__sub-wrapper
      .bj-page-header__sub-item
        a(href='')
          span(style='color:#e52020') Новый год
      .bj-page-header__sub-item.i-menu
        a(href='') Новинки
        .bj-page-header__sub-menu
          .row
            .col-sm-2
              .h5 Разделы
              ul
                li
                  a(href='') Мужские новинки
                li
                  a(href='') Женские новинки
                li
                  a(href='') Детские носки
                li
                  a(href='') Все новинки
            .col-sm-4
              .h5 Подборки
              ul
                li
                  a(href='')Новый год
            .col-sm-6
              .h5 Внимание
              .row
                .col-sm-4
                  a(href='')
                    img(src='/upload/resize_cache/iblock/43f/200_200_1/4fh89u0ypy25ue9dqcawoulikrnml6on.jpg' alt='')
                    span.text-center Шерстяные бесшовные гетры

          .bj-page-header__colors
            a.bj-page-header__colors-item(href="")
              div(style="background-image: url('/components/top_megamenu/images/1.jpg');")
              span Красные
            a.bj-page-header__colors-item(href="")
              div(style="background-image: url('/components/top_megamenu/images/2.jpg');")
              span Желтые
            a.bj-page-header__colors-item(href="")
              div(style="background-image: url('/components/top_megamenu/images/3.jpg');")
              span Синие
            a.bj-page-header__colors-item(href="")
              div(style="background-image: url('/components/top_megamenu/images/4.jpg');")
              span Черные
            a.bj-page-header__colors-item(href="")
              div(style="background-image: url('/components/top_megamenu/images/5.jpg');")
              span Белые
            a.bj-page-header__colors-item(href="")
              div(style="background-image: url('/components/top_megamenu/images/6.jpg');")
              span Серые

      .bj-page-header__sub-item.i-menu
        a(href='') Мужские носки
        .bj-page-header__sub-menu
          .row
            .col-sm-2
              .h5 Модель
              ul
                li
                  a(href='') Высокие
                li
                  a(href='') Спорт
                li
                  a(href='') Короткие
                li
                  a(href='') Классические
                li
                  a(href='') Подследники
                li
                  a(href='') Анатомические
                li
                  a(href='') Антискользящие
            .col-sm-4
              .h5 Подборки
              ul
                li
                  a(href='') Новинки
                li
                  a(href='') На каждый день
                li
                  a(href='') Хлопковые носки
                li
                  a(href='') Яркие-цветные носки
                li
                  a(href='') Шерстяные
                li
                  a(href='') Белые
                li
                  a(href='') Желтые
                li
                  a(href='') Красные
                li
                  a(href='') Серые
                li
                  a(href='') Темно-синие
                li
                  a(href='') Черные
            .col-sm-6
              .h5 Выбор
              hr
              .row
                .col-sm-4
                  a(href='')
                    img(src='/upload/resize_cache/iblock/551/200_200_1/ef6zek2t80wdyix1dnmn522vku0snjr3.jpg' alt='')
                    span.text-center Теплые носки
                .col-sm-4
                  a(href='')
                    img(src='/upload/resize_cache/iblock/8a6/01kr6nje55xd5cmzlfv6hlgtbmo60xvm/200_200_1/colorsocks.jpg' alt='')
                    span.text-center Цветные носки
                .col-sm-4
                  a(href='')
                    img(src='/upload/resize_cache/iblock/fb8/200_200_1/7dfls5g78p9b4w77lhjd5nvmo41qe3yu.png' alt='')
                    span.text-center Антискользящие носки
      .bj-page-header__sub-item.i-menu
        a(href='') Женские носки
        .bj-page-header__sub-menu
          .row
            .col-sm-2
              .h5 Модель
              ul
                li
                  a(href='') Высокие
                li
                  a(href='') Короткие
                li
                  a(href='') Классические
                li
                  a(href='') Подследник
                li
                  a(href='') Гольфы
                li
                  a(href='') Чулки
                li
                  a(href='') Анатомические
                li
                  a(href='') Антискользящие
            .col-sm-4
              .h5 Подборки
              ul
                li
                  a(href='') Новинки
                li
                  a(href='') Шерстяные
                li
                  a(href='') Хлопковые
                li
                  a(href='') Белые
                li
                  a(href='') Голубые
                li
                  a(href='') Красные
                li
                  a(href='') Розовые
                li
                  a(href='') Серые
                li
                  a(href='') Темно-синие
                li
                  a(href='') Черные
            .col-sm-6
              .h5 Выбор
              hr
              .row
                .col-sm-4
                  a(href='')
                    img(src='/upload/resize_cache/iblock/1aa/200_200_1/dtxmxdbkz5m4tlfuai5o0keqi452y8c6.png' alt='')
                    span.text-center Новинки
                .col-sm-4
                  a(href='')
                    img(src='/upload/resize_cache/iblock/43f/200_200_1/4fh89u0ypy25ue9dqcawoulikrnml6on.jpg' alt='')
                    span.text-center Гетры
      .bj-page-header__sub-item.i-menu
        a(href='') Детские носки
        .bj-page-header__sub-menu
          .row
            .col-sm-2
              .h5 Разделы
              ul
                li
                  a(href='') Для мальчиков
                li
                  a(href='') Для девочек
                li
                  a(href='') Малышам
                li
                  a(href='') Новинки
            .col-sm-4
              .h5 Модель
              ul
                li
                  a(href='') Короткие
                li
                  a(href='') Классические
                li
                  a(href='') С принтом
                li
                  a(href='') Антискользящие
                li
                  a(href='') Хлопковые носки
            .col-sm-6
              .h5
      .bj-page-header__sub-item.i-menu
        a(href='') Детские колготки
        .bj-page-header__sub-menu
          .row
            .col-sm-2
              .h5 Разделы
              ul
                li
                  a(href='') Для девочек
                li
                  a(href='') Для мальчиков
                li
                  a(href='') Малышам
                li
                  a(href='') Новинки
            .col-sm-4
              .h5 Модель
              ul
                li
                  a(href='') Классические
                li
                  a(href='') С рисунком
                li
                  a(href='') Леггинсы
            .col-sm-6
              .h5
      .bj-page-header__sub-item
        a(href='') Аутлет
      .bj-page-header__sub-item
        a(href='') Весь каталог

// end /components/top_megamenu/
