#buyDetailPopup

  #buyDetailPopupOpaco

  #buyDetailPopupWindow
    .b-catalog-detail-popup__body
      p
        b Товар добавлен в <a href="">корзину</a>

      p#buyDetailPopupEmpty Минимальная сумма заказа <span id="buyDetailPopupMin"></span> ₽, вам необходимо добавить на сумму <span id="buyDetailPopupLeft"></span> ₽.

      p#buyDetailPopupFull В корзине товаров на <span id="buyDetailPopupOrder"></span> ₽.

    .b-catalog-detail-popup__footer 
      a.btn.btn-default( href="" ) Перейти в корзину
      a.btn.btn-default.b-catalog-detail-popup__close( href="" ) Продолжить
