html {
  font-size: 12pt !important;
}
body {
  font-family: 'Montserrat' !important;
}
.container-fluid { max-width: 1500px !important;} div.title-search-result { max-width: calc( 1500px - 30px ) !important; } @media( min-width: calc( 1200px - 30px )) { div.title-search-result { left: 15px !important; }} @media( min-width: calc( 1500px - 30px )) { div.title-search-result { left: calc( (100% - 1500px + 30px) / 2 ) !important; }}
