// start /components/header_rs/

link( rel="stylesheet", href="/components/header_rs/style.css" )
script( src="/components/header_rs/script.js" )

#sellerHeader_rs
  header.bj-page-header.i-load
    section.bj-page-header__top
      .container-fluid
        .row
          span#search.bj-page-header__search.hidden-xs
            form(action='/catalog/')
              span.bj-page-header__search-icon(style=" background-image: url( '/template/images/headers/header_rs/search.svg' );")
              input#title-search-input.bj-page-header__search__input.form-control(type='search' name='q' value='' maxlength='50' autocomplete='off')
              input(name='how' type='hidden' value='r')
          .col-md-4.col-sm-3.col-xs-3.bj-search-space
            a#nav-button.bj-nav-button.hidden-sm.hidden-xs(href='#' data-activates='sideNavPanel')
              span.bj-menu-icon(style="background-image: url( '/template/images/headers/header_rs/menu.svg' );")
            a.ob-menu-sandwich.visible-sm-inline-block.visible-xs-inline-block(href='#')
              span.bj-menu-icon(style="background-image: url( '/template/images/headers/header_rs/menu.svg' );")
            span.bj-search-icon.hidden-xs
              span(style=" background-image: url( '/template/images/headers/header_rs/search.svg' );")
            .bj-top-nav.hidden-sm.hidden-xs
              a(href='') Оптовые условия
              a(href='') 8 800 777 98 01
          .col-md-4.col-sm-6.col-xs-6.bj-logo-space
            .bj-logo
              img(alt='RuSocks' src='/template/images/headers/header_rs/logo.png' width='170' height='50' title='RuSocks')
          .col-md-4.col-sm-3.col-xs-3.bj-basket-space.text-right
            .bj-top-nav.hidden-sm.hidden-xs
              a(href='') Личный кабинет
            span#sale-basket-basket-line-container
              // 'start_frame_cache_sale-basket-basket-line-container'
              a#bx_cart_block.bj-cart-icon(href='/personal/cart/')
                span.b-shopping-cart(style="background-image: url( '/template/images/headers/header_rs/basket.svg' );")
                span#bx_cart_num.bj-cart-icon__num 0
              // 'end_frame_cache_sale-basket-basket-line-container'
            .bj-page-header__search-close

    include ../../components/top_megamenu/template
    
    #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            h2#myModalLabel.modal-title.text-center Наш телефон
          .modal-body.text-center
            .bj-text-x-large 8 800 777 98 01
            .small Пн-Вс 10-19
          .modal-footer.text-center(style='display:none')
            button.btn.btn-default(type='button') Заказать звонок

  
include ../../components/tuner/button2

ul#sideNavPanel.side-nav
  li.logo
    span.bj-logo
      img(width='143', alt='', src='', height='40', title='')
  li.no-padding
    .media
      .media-body
        ul
          li
            a(href='/personal/') admin admin
          li
            a(href='/?logout=yes') Выйти
      .media-right
        a(href='/personal/')
          img(src='', width='64', height='48')
  li.no-padding
    ul
      li
        a(href='/personal/cart/')
          | Корзина 
          span.badge 3
      li
        a(href='/personal/index.php?SECTION=orders') Мои заказы
  li.no-padding
    ul
      li
        a(href='/search/') Поиск
      li
        a.bj-page-header__menu-link(href='/catalog/') Каталог
      li
        a(href='/campaign/') Акции
      li
        a(href='/journal/') Журнал
      li
        a(href='/lookbook/') LookBook
      li
        a(href='/about/') О магазине
      li
        a(href='/news/') Новости
      li
        a(href='/about/contacts/') Контакты
      li
        a(href='/about/vacancies/') Вакансии
      li
        a(href='/about/howto/') Как купить
      li
        a(href='/payment/') Оплата
      li
        a(href='/about/delivery/') Доставка
      li
        a(href='/about/guaranty/') Гарантии

// end /components/header_rs/